<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="Frame1" style="width: 1925px; height: 3502px; position: relative; background: #0D0D0D">
  <div class="Rectangle334" style="width: 1920px; height: 1075px; left: 5px; top: 0px; position: absolute; background: black"></div>
  <div class="Group498" style="width: 1920px; height: 1075px; left: 5px; top: 0px; position: absolute">
    <img class="Image116" style="width: 1592px; height: 1075px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1592x1075" />
    <img class="Image117" style="width: 328px; height: 1075px; left: 1592px; top: 0px; position: absolute" src="https://via.placeholder.com/328x1075" />
  </div>
  <div class="Group509" style="width: 1200px; height: 46.71px; left: 365px; top: 31px; position: absolute">
    <div class="Group495" style="width: 150.64px; height: 35.29px; left: 0px; top: 5.20px; position: absolute">
      <div class="BridgeAi" style="left: 44.64px; top: 9.34px; position: absolute; color: white; font-size: 20.76px; font-family: Righteous; font-weight: 400; line-height: 15.54px; word-wrap: break-word">Bridge - AI</div>
      <div class="Group470" style="width: 35.29px; height: 35.29px; left: 0px; top: 0px; position: absolute">
        <div class="Ellipse344" style="width: 35.29px; height: 35.29px; left: 0px; top: 0px; position: absolute; background: #D6F523; border-radius: 9999px"></div>
        <div class="Group398" style="width: 25.40px; height: 13.62px; left: 5.04px; top: 10.58px; position: absolute">
          <div class="Vector100" style="width: 11.65px; height: 10.53px; left: 0px; top: 3.08px; position: absolute; background: black"></div>
          <div class="Vector101" style="width: 19.95px; height: 13.61px; left: 5.45px; top: 0px; position: absolute; background: black"></div>
        </div>
      </div>
    </div>
    <div style="width: 119.38px; left: 846.02px; top: 9.34px; position: absolute; color: white; font-size: 20.76px; font-family: Roboto; font-weight: 300; line-height: 28.03px; word-wrap: break-word">Инструкция</div>
    <div class="Group486" style="width: 202.42px; height: 46.71px; left: 997.58px; top: 0px; position: absolute">
      <div style="width: 157.79px; left: 22.84px; top: 9.34px; position: absolute; color: white; font-size: 20.76px; font-family: Roboto; font-weight: 300; line-height: 28.03px; word-wrap: break-word">Загрузить фото</div>
      <div class="Rectangle336" style="width: 202.42px; height: 46.71px; left: 0px; top: 0px; position: absolute; border-radius: 21.80px; border: 1.04px #CBEB01 solid"></div>
    </div>
  </div>
  <div class="Group489" style="width: 270px; height: 62.02px; left: 830px; top: 968px; position: absolute">
    <div class="Rectangle336" style="width: 270px; height: 62px; left: 0px; top: 0px; position: absolute; border-radius: 36px; border: 1px #CBEB01 solid"></div>
    <div class="Group488" style="width: 211.02px; height: 59.02px; left: 30px; top: 3px; position: absolute">
      <div style="width: 85px; left: 0px; top: 15px; position: absolute; color: white; font-size: 20px; font-family: Roboto; font-weight: 300; line-height: 27px; word-wrap: break-word">Перейти</div>
      <div class="Group487" style="width: 59.02px; height: 59.02px; left: 152px; top: 0px; position: absolute">
        <div class="Ellipse346" style="width: 50.39px; height: 50.39px; left: 4.32px; top: 4.32px; position: absolute; background: #CBEB01; border-radius: 9999px"></div>
        <img class="Pngwing9" style="width: 59.02px; height: 59.02px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/59x59" />
      </div>
      <div class="Vector113" style="width: 45px; height: 0px; left: 94px; top: 28px; position: absolute; border: 1px #363636 solid"></div>
    </div>
  </div>
  <div class="Group500" style="width: 1200px; height: 735.20px; left: 365px; top: 179px; position: absolute">
    <div style="left: 0px; top: 0px; position: absolute"><span style="color: #CBEB01; font-size: 104.73px; font-family: Sansation Light; font-weight: 300; line-height: 35.18px; word-wrap: break-word">Узнай на <br/>кого </span><span style="color: #CBEB01; font-size: 104.73px; font-family: Sansation Light; font-weight: 300; text-decoration: underline; line-height: 35.18px; word-wrap: break-word">ты</span><span style="color: #CBEB01; font-size: 104.73px; font-family: Sansation Light; font-weight: 300; line-height: 35.18px; word-wrap: break-word"> похож</span></div>
    <div style="width: 364.32px; left: 835.68px; top: 673.67px; position: absolute; text-align: right; color: white; font-size: 18.70px; font-family: Roboto; font-weight: 300; line-height: 20.20px; word-wrap: break-word">Открой для себя удивительное приложение, которое покажет на какого известного человека вы похожи!</div>
    <div class="Vector114" style="width: 804.92px; height: 559.86px; left: 9.23px; top: 175.34px; position: absolute; border: 1.03px #CBEB01 solid"></div>
    <div class="Vector115" style="width: 746.48px; height: 641.89px; left: 1199.69px; top: 641.89px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; border: 1.03px #CBEB01 solid"></div>
    <div class="Group482" style="width: 239.74px; height: 323.60px; left: 234.81px; top: 280.75px; position: absolute; transform: rotate(-12.55deg); transform-origin: 0 0">
      <div class="Rectangle331" style="width: 224.25px; height: 311.44px; left: 2.73px; top: 12.26px; position: absolute; transform: rotate(-15.76deg); transform-origin: 0 0; background: rgba(217, 217, 217, 0.10); border-radius: 25.05px"></div>
      <img class="Image112" style="width: 207.91px; height: 288.44px; left: 13.52px; top: 21.29px; position: absolute; transform: rotate(-15.76deg); transform-origin: 0 0; border-radius: 25.05px" src="https://via.placeholder.com/208x288" />
    </div>
  </div>
  <div class="Group499" style="width: 548.71px; height: 471.70px; left: 780px; top: 357px; position: absolute">
    <div class="Group484" style="width: 261.71px; height: 328.97px; left: 287px; top: 72px; position: absolute">
      <div class="Rectangle333" style="width: 223.56px; height: 301.93px; left: 40.14px; top: 0px; position: absolute; transform: rotate(7.64deg); transform-origin: 0 0; background: rgba(217, 217, 217, 0.10); border-radius: 19.24px"></div>
      <img class="SnoopDogTattoo1" style="width: 188.17px; height: 274.97px; left: 55.74px; top: 15.59px; position: absolute; transform: rotate(7.64deg); transform-origin: 0 0; border-radius: 24.43px" src="https://via.placeholder.com/188x275" />
    </div>
    <div class="Group483" style="width: 346.73px; height: 435.84px; left: 48.48px; top: 0px; position: absolute; transform: rotate(6.39deg); transform-origin: 0 0">
      <div class="Rectangle332" style="width: 296.18px; height: 400.01px; left: -4.38px; top: 39.13px; position: absolute; transform: rotate(-1.25deg); transform-origin: 0 0; background: rgba(217, 217, 217, 0.10); border-radius: 19.24px"></div>
      <img class="C55faaec932028db5df0fc622ac6cf5e1" style="width: 250.67px; height: 364.30px; left: 18.65px; top: 56.25px; position: absolute; transform: rotate(-1.25deg); transform-origin: 0 0; border-radius: 24.43px" src="https://via.placeholder.com/251x364" />
    </div>
  </div>
  <div class="Rectangle360" style="width: 1920px; height: 1079px; left: 5px; top: 2180px; position: absolute; background: #0D0D0D"></div>
  <div class="Group498" style="width: 1919px; height: 1075px; left: 6px; top: 2180px; position: absolute">
    <img class="Image116" style="width: 1591.17px; height: 1075px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1591x1075" />
    <img class="Image117" style="width: 327.83px; height: 1075px; left: 1591.18px; top: 0px; position: absolute" src="https://via.placeholder.com/328x1075" />
  </div>
  <div class="Rectangle347" style="width: 1920px; height: 1079px; left: 5px; top: 1088px; position: absolute; background: #0D0D0D"></div>
  <div class="Group507" style="height: 659.94px; left: 894px; top: 1294px; position: absolute">
    <div class="Group505" style="width: 667px; height: 184.94px; left: 0px; top: 235px; position: absolute">
      <div class="Group501" style="width: 496.82px; height: 184.94px; left: 0px; top: 0px; position: absolute">
        <div style="width: 409.49px; left: 66.78px; top: 104.94px; position: absolute; color: white; font-size: 18.35px; font-family: Sansation Light; font-weight: 300; line-height: 19.81px; word-wrap: break-word">Система обнаруживает лицо и создаёт рисунок лица. Сиситемное обнаружение точек лица может находить ключевые компоненты лиц, включая брови, глаза, нос, рот и положение.</div>
        <div style="width: 496.82px; height: 91px; left: 0px; top: 0px; position: absolute; color: white; font-size: 44.03px; font-family: Sansation Light; font-weight: 300; line-height: 44.03px; word-wrap: break-word">Система обнаруживает лицо</div>
      </div>
      <img class="FaceId" style="width: 119px; height: 119px; left: 548px; top: 33px; position: absolute" src="https://via.placeholder.com/119x119" />
    </div>
    <div class="Group506" style="width: 667px; height: 160.54px; left: 0px; top: 0px; position: absolute">
      <div class="Group503" style="width: 496.82px; height: 160.54px; left: 0px; top: 0px; position: absolute">
        <div style="width: 416.09px; left: 68.25px; top: 100.54px; position: absolute; color: white; font-size: 18.35px; font-family: Sansation Light; font-weight: 300; line-height: 19.81px; word-wrap: break-word">Лицо должно быть хорошо видно. Точность распознавания лиц зависит от разрешения и качества изображения.</div>
        <div style="width: 496.82px; height: 91px; left: 0px; top: 0px; position: absolute; color: white; font-size: 44.03px; font-family: Sansation Light; font-weight: 300; line-height: 44.03px; word-wrap: break-word">Загрузить фотографию/видео </div>
      </div>
      <img class="Camera" style="width: 119px; height: 119px; left: 548px; top: 21px; position: absolute" src="https://via.placeholder.com/119x119" />
    </div>
    <div class="Group504" style="width: 667px; height: 164.94px; left: 0px; top: 495px; position: absolute">
      <div class="Group502" style="width: 408.76px; height: 164.94px; left: 0px; top: 0px; position: absolute">
        <div style="width: 340.51px; left: 68.25px; top: 104.94px; position: absolute; color: white; font-size: 18.35px; font-family: Roboto; font-weight: 300; line-height: 19.81px; word-wrap: break-word">Нейронная сеть сравнивает человека с лицами знаменитостей и предлагает самые похожие.</div>
        <div style="width: 408.76px; height: 91px; left: 0px; top: 0px; position: absolute; color: white; font-size: 44.03px; font-family: Sansation Light; font-weight: 300; line-height: 44.03px; word-wrap: break-word">Наслаждайтесь результатом</div>
      </div>
      <img class="Done" style="width: 119px; height: 119px; left: 548px; top: 23px; position: absolute" src="https://via.placeholder.com/119x119" />
    </div>
  </div>
  <div style="left: 370px; top: 1294px; position: absolute; color: #CBEB01; font-size: 79px; font-family: Sansation Light; font-weight: 300; line-height: 79.29px; word-wrap: break-word">КАК <br/>РАБОТАЕТ? </div>
  <div class="Vector116" style="width: 531px; height: 472.50px; left: 376.50px; top: 1487.50px; position: absolute; border: 1px #CBEB01 solid"></div>
  <div class="Vector117" style="width: 341.50px; height: 0px; left: 552.50px; top: 1306px; position: absolute; border: 1px #CBEB01 solid"></div>
  <img class="Image11811" style="width: 345px; height: 433px; left: 366px; top: 1512px; position: absolute" src="https://via.placeholder.com/345x433" />
  <div class="Group510" style="width: 142px; height: 142px; left: 472px; top: 1532px; position: absolute">
    <div class="Vector118" style="width: 42.60px; height: 44.63px; left: 0px; top: 0px; position: absolute; border: 3px rgba(203, 235, 1, 0.44) solid"></div>
    <div class="Vector120" style="width: 42.60px; height: 44.63px; left: 142px; top: 142px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; border: 3px rgba(203, 235, 1, 0.44) solid"></div>
    <div class="Vector119" style="width: 42.60px; height: 44.63px; left: 142px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 3px rgba(203, 235, 1, 0.44) solid"></div>
    <div class="Vector121" style="width: 42.60px; height: 44.63px; left: 0px; top: 142px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 3px rgba(203, 235, 1, 0.44) solid"></div>
  </div>
  <div class="Group517" style="width: 84px; height: 84px; left: 1739px; top: 2547px; position: absolute">
    <div class="Vector118" style="width: 25.20px; height: 26.40px; left: 0px; top: 0px; position: absolute; border: 3px rgba(203, 235, 1, 0.47) solid"></div>
    <div class="Vector120" style="width: 25.20px; height: 26.40px; left: 84px; top: 84px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; border: 3px rgba(203, 235, 1, 0.47) solid"></div>
    <div class="Vector119" style="width: 25.20px; height: 26.40px; left: 84px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 3px rgba(203, 235, 1, 0.47) solid"></div>
    <div class="Vector121" style="width: 25.20px; height: 26.40px; left: 0px; top: 84px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 3px rgba(203, 235, 1, 0.47) solid"></div>
  </div>
  <div class="Group513" style="width: 106.62px; height: 54.91px; left: 912px; top: 2043px; position: absolute">
    <div class="Vector122Stroke" style="width: 54.91px; height: 54.91px; left: 0px; top: 0px; position: absolute; background: rgba(203, 235, 1, 0.99)"></div>
    <div class="Vector123Stroke" style="width: 54.91px; height: 54.91px; left: 106.62px; top: 0px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; background: rgba(203, 235, 1, 0.99)"></div>
  </div>
  <div class="Rectangle348" style="width: 520px; height: 520px; left: 377px; top: 2538px; position: absolute; background: #CBEB01; border-radius: 78px"></div>
  <div class="Rectangle349" style="width: 465px; height: 465px; left: 405px; top: 2565px; position: absolute; border-radius: 65px; border: 1px #0D0D0D dotted"></div>
  <div class="Group515" style="width: 83px; height: 73.78px; left: 596px; top: 2761px; position: absolute">
    <div class="Rectangle350" style="width: 43.81px; height: 43.81px; left: 23.06px; top: 20.75px; position: absolute; background: #0D0D0D"></div>
    <div class="Rectangle351" style="width: 43.81px; height: 43.81px; left: 0px; top: 0px; position: absolute; border: 1px #0D0D0D dotted"></div>
    <img class="Cursor" style="width: 48.42px; height: 41.50px; left: 34.58px; top: 32.28px; position: absolute" src="https://via.placeholder.com/48x41" />
  </div>
  <div class="ClickPasteOrDropAFileToStart" style="left: 458px; top: 2866px; position: absolute; color: #0D0D0D; font-size: 25.13px; font-family: Sansation Light; font-weight: 300; line-height: 8.44px; word-wrap: break-word">Click, paste, or drop a file to start</div>
  <div class="Vector" style="width: 20.16px; height: 48.11px; left: 1014.29px; top: 2373.89px; position: absolute; background: white"></div>
  <div class="Vector" style="width: 41.42px; height: 48.11px; left: 960.50px; top: 2373.89px; position: absolute; background: white"></div>
  <div class="Vector" style="width: 42.15px; height: 65.52px; left: 905.98px; top: 2356.48px; position: absolute; background: white"></div>
  <div class="Vector" style="width: 39.63px; height: 48.11px; left: 853.94px; top: 2373.89px; position: absolute; background: white"></div>
  <div class="Vector" style="width: 5.73px; height: 65.52px; left: 833.05px; top: 2356.48px; position: absolute; background: white"></div>
  <div class="Vector" style="width: 43.02px; height: 65.52px; left: 778.80px; top: 2356.48px; position: absolute; background: white"></div>
  <div class="Vector" style="width: 46.32px; height: 65.88px; left: 700.59px; top: 2373.89px; position: absolute; background: #CBEB01"></div>
  <div class="Vector" style="width: 18.69px; height: 55.89px; left: 677.37px; top: 2366.11px; position: absolute; background: #CBEB01"></div>
  <div class="Vector" style="width: 5.73px; height: 65.52px; left: 656.66px; top: 2356.48px; position: absolute; background: #CBEB01"></div>
  <div class="Vector" style="width: 20.16px; height: 48.11px; left: 627.06px; top: 2373.89px; position: absolute; background: #CBEB01"></div>
  <div class="Vector" style="width: 41.60px; height: 65.52px; left: 573.09px; top: 2356.48px; position: absolute; background: #CBEB01"></div>
  <div class="Vector" style="width: 41.42px; height: 48.11px; left: 519.30px; top: 2373.89px; position: absolute; background: #CBEB01"></div>
  <div class="Vector" style="width: 4.81px; height: 65.52px; left: 501.16px; top: 2356.48px; position: absolute; background: #CBEB01"></div>
  <div class="Vector" style="width: 41.42px; height: 48.11px; left: 446.45px; top: 2373.89px; position: absolute; background: #CBEB01"></div>
  <div class="Vector" style="width: 52.69px; height: 66.43px; left: 382.04px; top: 2356.02px; position: absolute; background: #CBEB01"></div>
  <div class="Vector124" style="width: 1171px; height: 691.50px; left: 386.50px; top: 2368.50px; position: absolute; border: 1px rgba(203, 235, 1, 0.99) solid"></div>
  <div style="width: 286px; height: 237px; left: 965px; top: 2538px; position: absolute; color: white; font-size: 25.48px; font-family: Sansation Light; font-weight: 300; line-height: 24.16px; word-wrap: break-word">Вставьте файл с фотографией или видео и нажмите “Старт”.<br/><br/>Дождитесь конца работы приложения.<br/>Не перезагружайте страницу.</div>
  <div class="Rectangle352" style="width: 538px; height: 109px; left: 972px; top: 2897px; position: absolute; border-radius: 64px; border: 1px #CBEB01 solid"></div>
  <div style="left: 1147px; top: 2923px; position: absolute; color: #CBEB01; font-size: 60.06px; font-family: Sansation Light; font-weight: 300; line-height: 56.97px; word-wrap: break-word">СТАРТ</div>
  <div class="Arrow3" style="width: 214px; height: 0px; left: 1359px; top: 2538px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 7px #CBEB01 solid"></div>
  <div class="Rectangle359" style="width: 1920px; height: 221px; left: 5px; top: 3281px; position: absolute; background: #0D0D0D"></div>
  <div class="Group487" style="width: 59.02px; height: 59.02px; left: 935px; top: 3402px; position: absolute">
    <div class="Ellipse346" style="width: 50.39px; height: 50.39px; left: 4.32px; top: 4.32px; position: absolute; background: #CBEB01; border-radius: 9999px"></div>
    <img class="Pngwing9" style="width: 59.02px; height: 59.02px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/59x59" />
  </div>
  <div class="Group532" style="width: 312.79px; height: 29px; left: 809px; top: 3320px; position: absolute">
    <div style="width: 119.38px; left: 0px; top: 0px; position: absolute; color: white; font-size: 20.76px; font-family: Roboto; font-weight: 300; line-height: 28.03px; word-wrap: break-word">Инструкция</div>
    <div style="width: 157.79px; left: 155px; top: 0px; position: absolute; color: white; font-size: 20.76px; font-family: Roboto; font-weight: 300; line-height: 28.03px; word-wrap: break-word">Загрузить фото</div>
  </div>
</div>
</body>
</html>