<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/autohtml-project/vars.css" />
  <link rel="stylesheet" href="../static/styles/style.css" />

  <style>
    a,
    button,
    input,
    select,
    h1,
    h2,
    h3,
    h4,
    h5,
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none;
      text-decoration: none;
      appearance: none;
      background: none;

      -webkit-font-smoothing: antialiased;
    }
  </style>
  <title>Document</title>
</head>
<body>
<div class="frame-1">
  <div class="rectangle-334"></div>
  <div class="group-498">
    <img class="image-116" src="../static/images/image-1160.png" />
    <img class="image-117" src="../static/images/image-1170.png" />
  </div>
  <div class="group-495">
    <div class="bridge-ai">Celebrity Finder</div>
    <div class="group-470">
      <div class="ellipse-344"></div>
      <svg
              class="group-398"
              width="26"
              height="15"
              viewBox="0 0 26 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
      >
        <path
                d="M4.43203 14.3951L0.719261 8.18906L0.041748 7.18634C4.44287 2.52505 9.64436 3.76264 11.695 4.9641C5.55941 6.87197 4.29653 12.0464 4.43203 14.3951Z"
                fill="black"
        />
        <path
                d="M19.2043 14.3914C19.2043 14.3914 21.6925 11.8967 23.1339 10.1638C24.0747 9.03266 25.4374 7.18276 25.4374 7.18276C18.478 -1.83629 9.24036 0.606278 5.49146 2.95494C15.7246 2.08772 18.8972 10.2179 19.2043 14.3914Z"
                fill="black"
        />
      </svg>
    </div>
  </div>
  <a class="div" href="#scrollTarget">Инструкция</a>
  <div class="group-486">
    <div class="div2">Загрузить фото</div>
    <a class="rectangle-336" href="#scrollTarget_F"></a>
  </div>
  <div class="group-500">
    <div class="div4">
          <span>
            <span class="div-4-span">
              Узнай на
              <br />
              <br />
              кого
            </span>
            <span class="div-4-span2">ты</span>
            <span class="div-4-span3">похож</span>
          </span>
    </div>
    <div class="div5">
      Открой для себя удивительное приложение, которое покажет на какого
      известного человека вы похожи!
    </div>
    <svg
            class="vector-114"
            width="806"
            height="561"
            viewBox="0 0 806 561"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
    >
      <path
              d="M0.228516 0.3396V560.196H805.15"
              stroke="#CBEB01"
              stroke-width="1.02538"
      />
    </svg>
    <svg
            class="vector-115"
            width="747"
            height="642"
            viewBox="0 0 747 642"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
    >
      <path
              d="M746.692 641.887L746.692 5.126e-05L0.217087 -1.39989e-05"
              stroke="#CBEB01"
              stroke-width="1.02538"
      />
    </svg>
    <div class="group-499">
      <div class="group-492">
        <div class="group-482">
          <div class="rectangle-331"></div>
          <img class="image-112" src="../static/images/image-1120.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="group-4992">
    <div class="group-484">
      <div class="rectangle-333"></div>
      <img class="snoop-dog-tattoo-1" src="../static/images/snoop-dog-tattoo-10.png" />
    </div>
    <div class="group-483">
      <div class="rectangle-332"></div>
      <img
              class="c-55-faaec-932028-db-5-df-0-fc-622-ac-6-cf-5-e-1"
              src="../static/images/c-55-faaec-932028-db-5-df-0-fc-622-ac-6-cf-5-e-10.png"
      />
    </div>
  </div>
  <div class="rectangle-360" id="scrollTarget_F"></div>
  <div class="group-4982">
    <img class="image-1162" src="../static/images/image-1161.png" />
    <img class="image-1172" src="../static/images/image-1171.png" />
  </div>
  <div class="rectangle-347" id="scrollTarget"></div>
  <div class="group-505">
    <div class="group-501">
      <div class="div6">
        Система обнаруживает лицо и создаёт рисунок лица. Сиситемное
        обнаружение точек лица может находить ключевые компоненты лиц,
        включая брови, глаза, нос, рот и положение.
      </div>
      <div class="div7">Система обнаруживает лицо</div>
    </div>
    <img class="face-id" src="../static/images/face-id0.png" />
  </div>
  <div class="group-506">
    <div class="group-503">
      <div class="div8">
        Лицо должно быть хорошо видно. Точность распознавания лиц зависит от
        разрешения и качества изображения.
      </div>
      <div class="div9">Загрузить фотографию/видео</div>
    </div>
    <img class="camera" src="../static/images/camera0.png" />
  </div>
  <div class="group-504">
    <div class="group-502">
      <div class="div10">
        Нейронная сеть сравнивает человека с лицами знаменитостей и
        предлагает самые похожие.
      </div>
      <div class="div11">Наслаждайтесь результатом</div>
    </div>
    <img class="done" src="../static/images/done0.png" />
  </div>
  <div class="div12">
    КАК
    <br />
    РАБОТАЕТ?
  </div>
  <svg
          class="vector-116"
          width="532"
          height="473"
          viewBox="0 0 532 473"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0.5 0.5V473H531.5" stroke="#CBEB01" />
  </svg>
  <svg
          class="vector-117"
          width="342"
          height="2"
          viewBox="0 0 342 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0.5 1H342" stroke="#CBEB01" />
  </svg>
  <img class="image-118-1-1" src="../static/images/image-118-1-10.png" />
  <svg
          class="group-510"
          width="142"
          height="142"
          viewBox="0 0 142 142"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M0 44.6286V0H42.6"
            stroke="#CBEB01"
            stroke-opacity="0.44"
            stroke-width="3"
    />
    <path
            d="M142 97.3714L142 142L99.4 142"
            stroke="#CBEB01"
            stroke-opacity="0.44"
            stroke-width="3"
    />
    <path
            d="M97.3714 -1.95078e-06L142 0L142 42.6"
            stroke="#CBEB01"
            stroke-opacity="0.44"
            stroke-width="3"
    />
    <path
            d="M44.6286 142L0 142L5.58632e-06 99.4"
            stroke="#CBEB01"
            stroke-opacity="0.44"
            stroke-width="3"
    />
  </svg>
  <svg
          class="group-517"
          width="84"
          height="84"
          viewBox="0 0 84 84"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M0 26.4V0H25.2"
            stroke="#CBEB01"
            stroke-opacity="0.47"
            stroke-width="3"
    />
    <path
            d="M84 57.6L84 84L58.8 84"
            stroke="#CBEB01"
            stroke-opacity="0.47"
            stroke-width="3"
    />
    <path
            d="M57.6 -1.15398e-06L84 0L84 25.2"
            stroke="#CBEB01"
            stroke-opacity="0.47"
            stroke-width="3"
    />
    <path
            d="M26.4 84L0 84L3.30458e-06 58.8"
            stroke="#CBEB01"
            stroke-opacity="0.47"
            stroke-width="3"
    />
  </svg>
  <svg
          class="group-513"
          width="107"
          height="55"
          viewBox="0 0 107 55"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M53.5 54.9142L0 1.41421L1.41421 0L54.9142 53.5L53.5 54.9142Z"
            fill="#CBEB01"
            fill-opacity="0.99"
    />
    <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M53.125 54.9142L106.625 1.41421L105.211 0L51.7108 53.5L53.125 54.9142Z"
            fill="#CBEB01"
            fill-opacity="0.99"
    />
  </svg>
  <!-- Форма для загрузки изображения -->
  <form id="uploadForm" action="{% url 'upload_image' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="fileInput" name="file" style="display: none;" accept="/*">
    <input type="submit" value="Загрузить" style="display: none;">
  </form>

  <!-- Контейнер для отображения загруженного изображения -->
  <div class="rectangle-348">
    <label for="fileInput" style="cursor: pointer; position: absolute; top: 0; left: 0; width: 100%; height: 100%;">Вы</label>
    <input type="file" id="fileInputDisplay" name="file" style="display: none;" accept="/*">
  </div>

  <div class="rectangle-352" onclick="startProcess()"></div>
  <div class="div14" onclick="submitForm()">СТАРТ</div>

  <script>
    // Функция для вызова загрузки изображения при нажатии на кнопку "СТАРТ"
    function submitForm() {
      document.getElementById('uploadForm').submit();
    }

    // Отображение выбранного изображения в контейнере
    document.getElementById('fileInput').addEventListener('change', function() {
      var file = this.files[0];
      if (file) {
        var reader = new FileReader();
        reader.onload = function(event) {
          var img = new Image();
          img.src = event.target.result;
          img.onload = function() {
            var container = document.querySelector('.rectangle-348');
            var canvas = document.createElement('canvas');
            var ctx = canvas.getContext('2d');

            // Определяем размер квадрата
            var squareSize = Math.min(img.width, img.height);

            // Устанавливаем размеры холста
            canvas.width = container.offsetWidth;
            canvas.height = container.offsetHeight;

            // Вырезаем квадрат изображения
            var startX = (img.width - squareSize) / 2;
            var startY = (img.height - squareSize) / 2;
            ctx.drawImage(img, startX, startY, squareSize, squareSize, 0, 0, canvas.width, canvas.height);

            // Очистка контейнера от метки и поля ввода
            container.innerHTML = '';

            // Добавление обрезанного изображения
            container.appendChild(canvas);

            // Показываем кнопку загрузки
            document.querySelector('.div14').style.display = 'block';
          };
        };
        reader.readAsDataURL(file);
      }
    });
  </script>


  <svg
          class="vector"
          width="21"
          height="49"
          viewBox="0 0 21 49"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M0.289062 48.9964V0.890625H3.72522L4.3208 8.86245C9.14665 3.5479 14.5223 0.890625 20.4477 0.890625V4.73909C14.7055 4.73909 9.58955 7.53381 5.09967 13.1232V48.9964H0.289062Z"
            fill="white"
    />
  </svg>
  <svg
          class="vector2"
          width="42"
          height="49"
          viewBox="0 0 42 49"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M22.1705 0.890625C35.3347 0.890625 41.9168 8.17522 41.9168 22.7444C41.9168 23.7829 41.8863 24.8672 41.8252 25.9973H5.31055C5.31055 38.5811 11.969 44.8731 25.2859 44.8731C30.7532 44.8731 35.6096 44.1095 39.8551 42.5823V46.7057C35.6096 48.2329 30.7532 48.9964 25.2859 48.9964C8.76199 48.9964 0.5 40.7955 0.5 24.3937C0.5 8.725 7.72352 0.890625 22.1705 0.890625ZM5.31055 21.6907H37.2895C37.1062 10.5118 32.0666 4.92235 22.1705 4.92235C11.4804 4.92235 5.86033 10.5118 5.31055 21.6907Z"
            fill="white"
    />
  </svg>
  <svg
          class="vector3"
          width="44"
          height="66"
          viewBox="0 0 44 66"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M38.3236 24.9496C33.681 23.3003 28.8552 22.4756 23.8461 22.4756C12.0258 22.4756 6.11566 28.5385 6.11566 40.6642C6.11566 54.6836 12.0258 61.6933 23.8461 61.6933C28.8552 61.6933 33.681 61.0977 38.3236 59.9065V24.9496ZM43.1342 63.1136C37.9113 65.0378 31.3292 65.9999 23.3879 65.9999C8.45223 65.9999 0.984375 57.6616 0.984375 40.9849C0.984375 25.591 8.58963 17.8941 23.8002 17.8941C28.565 17.8941 33.4061 18.6577 38.3236 20.1849V0.484375H43.1342V63.1136Z"
            fill="white"
    />
  </svg>
  <svg
          class="vector4"
          width="41"
          height="49"
          viewBox="0 0 41 49"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M0.9375 48.9964V0.890625H4.37363L4.96921 7.02984C11.1084 2.93703 17.1255 0.890625 23.0204 0.890625C34.7185 0.890625 40.5675 5.94555 40.5675 16.0554V48.9964H35.7569V15.918C35.7569 8.77081 31.4351 5.19724 22.7913 5.19724C17.0186 5.19724 11.3375 7.22838 5.74808 11.2906V48.9964H0.9375Z"
            fill="white"
    />
  </svg>
  <svg
          class="vector5"
          width="6"
          height="66"
          viewBox="0 0 6 66"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M5.77374 0.484375V5.98218H0.046875V0.484375H5.77374ZM5.31558 17.8941V65.9999H0.505005V17.8941H5.31558Z"
            fill="white"
    />
  </svg>
  <svg
          class="vector6"
          width="44"
          height="66"
          viewBox="0 0 44 66"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M43.8172 0.484375V4.60773H5.60745V30.7223H42.2595V34.8457H5.60745V65.9999H0.796875V0.484375H43.8172Z"
            fill="white"
    />
  </svg>
  <svg
          class="vector7"
          width="47"
          height="67"
          viewBox="0 0 47 67"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M0.59375 0.890625H6.13739L24.0052 44.3233L41.5982 0.890625H46.9128L26.0211 50.4167C22.4781 59.1521 17.1635 64.6041 10.0775 66.7727L8.65723 62.9242C14.2161 60.9084 18.4616 56.5101 21.3938 49.7295L0.59375 0.890625Z"
            fill="#CBEB01"
    />
  </svg>
  <svg
          class="vector8"
          width="20"
          height="56"
          viewBox="0 0 20 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M0.367188 0.109375H3.75751L4.62799 7.89793H19.0597V12.0213H5.04031V42.3967C5.04031 48.7192 7.36162 51.8804 12.0042 51.8804H19.0597V56.0037H12.0958C4.27672 56.0037 0.367188 51.6819 0.367188 43.0381V0.109375Z"
            fill="#CBEB01"
    />
  </svg>
  <svg
          class="vector9"
          width="7"
          height="66"
          viewBox="0 0 7 66"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M6.38312 0.484375V5.98218H0.65625V0.484375H6.38312ZM5.92496 17.8941V65.9999H1.11438V17.8941H5.92496Z"
            fill="#CBEB01"
    />
  </svg>
  <svg
          class="vector10"
          width="21"
          height="49"
          viewBox="0 0 21 49"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M0.0625 48.9964V0.890625H3.49863L4.09422 8.86245C8.92008 3.5479 14.2957 0.890625 20.2211 0.890625V4.73909C14.479 4.73909 9.36295 7.53381 4.87308 13.1232V48.9964H0.0625Z"
            fill="#CBEB01"
    />
  </svg>
  <svg
          class="vector11"
          width="42"
          height="66"
          viewBox="0 0 42 66"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M4.89651 60.3647C9.814 61.2504 14.2581 61.6933 18.2287 61.6933C30.7515 61.6933 37.0129 54.6836 37.0129 40.6642C37.0129 28.5385 31.2554 22.4756 19.7406 22.4756C15.3423 22.4756 10.3943 23.3003 4.89651 24.9496V60.3647ZM0.0859375 0.484375H4.89651V20.1849C10.6692 18.6577 15.6325 17.8941 19.7864 17.8941C34.3861 17.8941 41.686 25.591 41.686 40.9849C41.686 57.6616 34.0044 65.9999 18.641 65.9999C11.7382 65.9999 5.5532 65.3432 0.0859375 64.0299V0.484375Z"
            fill="#CBEB01"
    />
  </svg>
  <svg
          class="vector12"
          width="42"
          height="49"
          viewBox="0 0 42 49"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M21.9752 0.890625C35.1394 0.890625 41.7215 8.17522 41.7215 22.7444C41.7215 23.7829 41.691 24.8672 41.6299 25.9973H5.11526C5.11526 38.5811 11.7737 44.8731 25.0906 44.8731C30.5579 44.8731 35.4143 44.1095 39.6598 42.5823V46.7057C35.4143 48.2329 30.5579 48.9964 25.0906 48.9964C8.56667 48.9964 0.304688 40.7955 0.304688 24.3937C0.304688 8.725 7.52819 0.890625 21.9752 0.890625ZM5.11526 21.6907H37.0942C36.9109 10.5118 31.8713 4.92235 21.9752 4.92235C11.285 4.92235 5.66505 10.5118 5.11526 21.6907Z"
            fill="#CBEB01"
    />
  </svg>
  <svg
          class="vector13"
          width="5"
          height="66"
          viewBox="0 0 5 66"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M4.96684 0.484375V65.9999H0.15625V0.484375H4.96684Z"
            fill="#CBEB01"
    />
  </svg>
  <svg
          class="vector14"
          width="42"
          height="49"
          viewBox="0 0 42 49"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M22.1236 0.890625C35.2878 0.890625 41.8699 8.17522 41.8699 22.7444C41.8699 23.7829 41.8394 24.8672 41.7783 25.9973H5.2637C5.2637 38.5811 11.9222 44.8731 25.2391 44.8731C30.7063 44.8731 35.5627 44.1095 39.8083 42.5823V46.7057C35.5627 48.2329 30.7063 48.9964 25.2391 48.9964C8.7151 48.9964 0.453125 40.7955 0.453125 24.3937C0.453125 8.725 7.67663 0.890625 22.1236 0.890625ZM5.2637 21.6907H37.2426C37.0594 10.5118 32.0197 4.92235 22.1236 4.92235C11.4335 4.92235 5.81348 10.5118 5.2637 21.6907Z"
            fill="#CBEB01"
    />
  </svg>
  <svg
          class="vector15"
          width="53"
          height="67"
          viewBox="0 0 53 67"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M52.7264 63.7064C46.7704 65.539 40.6617 66.4553 34.4004 66.4553C11.4928 66.4553 0.0390625 55.0779 0.0390625 32.3231C0.0390625 10.79 11.4928 0.0234375 34.4004 0.0234375C40.6617 0.0234375 46.7704 0.939739 52.7264 2.77234V6.8957C46.7704 5.06309 40.9672 4.14679 35.3167 4.14679C15.0053 4.14679 4.84964 13.5389 4.84964 32.3231C4.84964 52.329 15.0053 62.3319 35.3167 62.3319C40.9672 62.3319 46.7704 61.4156 52.7264 59.583V63.7064Z"
            fill="#CBEB01"
    />
  </svg>

  <div class="div13">
    Вставьте файл с фотографией или видео и нажмите “Старт”.
    <br />
    <br />
    Дождитесь конца работы приложения.
    <br />
    Не перезагружайте страницу.
  </div>
  <svg
          class="arrow-3"
          width="52"
          height="218"
          viewBox="0 0 52 218"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
  >
    <path
            d="M23.5251 216.475C24.892 217.842 27.108 217.842 28.4749 216.475L50.7487 194.201C52.1156 192.834 52.1156 190.618 50.7487 189.251C49.3819 187.884 47.1658 187.884 45.799 189.251L26 209.05L6.201 189.251C4.83417 187.884 2.61809 187.884 1.25125 189.251C-0.115581 190.618 -0.115581 192.834 1.25125 194.201L23.5251 216.475ZM22.5 -1.5299e-07L22.5 214L29.5 214L29.5 1.5299e-07L22.5 -1.5299e-07Z"
            fill="#CBEB01"
    />
  </svg>
  <div class="rectangle-359"></div>
  <div class="ellipse-3462"></div>
  <a href="https://t.me/FaceDetectingBot">
    <img class="pngwing-92" src="../static/images/pngwing-91.png" alt="Описание изображения">
  </a>
</div>
</body>
</html>
